        body {
            margin: 0;
            padding: 0;
            background: #f9e8a5;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
        .main-box {
            background: white;
            padding: 30px;
            border-radius: 12px;
            text-align: center;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
            width: 330px;
        }
        h1 {
            margin-bottom: 15px;
            font-size: 26px;
        }
        .avatar {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
            border: 3px solid #ffb300;
            margin-bottom: 20px;
        }
        .avatar img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        a button {
        width: 120px;
        margin: 8px;
        padding: 12px 0;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        background: #ffc400;
        transition: 0.3s;
        }
        a button:hover {
            background: #ffb300;
        }
        footer {
            position: absolute;
            bottom: 15px;
            width: 100%;
            text-align: center;
            font-size: 14px;
        }
        .quote {
            font-style: italic;
            display: block;
            margin-top: 5px;
        }